<html lang="en">
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Выйти</button>
    </form>
</div>
<div>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <label> <input type="text" name="text" placeholder="Введите сообщение"/> </label>
        <label> <input type="text" name="tag" placeholder="Тэг"/> </label>
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список сообщений</div>
<form method="post" action="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <label> <input type="text" name="filter"/> </label>
    <button type="submit">Выбрать</button>
</form>
<table>
    <tr>
        <th>id</th>
        <th>message</th>
        <th>tag</th>
    </tr>
    {{#messages}}
        <tr>
            <TD><b>{{id}}</b></TD>
            <TD><span>{{text}}</span></TD>
            <TD><i>{{tag}}</i></TD>
        </tr>
    {{/messages}}
</table>
</body>
</html>
