<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div>Add new user</div>
<div style="color: red; font-size: smaller">{{#message}}
    {{message}}
{{/message}}
</div>
<form action="/registration" method="post">
    <table>
        <tr>
            <td>User Name :</td>
            <td>
                <label> <input type="text" name="username" required/></label>
            <td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <label><input type="password" name="password" required/></label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" required></td>
            <td><input type="submit" value="Регистрация"/></td>
        </tr>
    </table>
</form>
</body>
</html>
